<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>专辑界面</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        h1 {
            margin: 0;
            font-size: 24px;
        }
        p {
            font-size: 14px;
        }
        a {
            text-decoration: none;
            color: blue;
            margin: 5px;
        }
    </style>
</head>
<body>
    <h1>欢迎来到专辑界面</h1>
    <p><a href="{% url 'user_login' %}">用户登录</a></p> 
    <p><a href="{% url 'manager_login' %}">管理员登录</a></p>
    <p>1 <a href="{% url 'review-list' %}">back</a></p>
 
</body>
</html>
